*{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 40em;
    height: 8em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* CLASSES .*/
.tablecolor{
    background-color: #95BDC1;
}

.rowcolor{
    background-color: #ECECEC;
}

/* ID's #*/