@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container{
    height: 450px;
    width: 600px;

    background: rgb(223, 219, 219);

    position: relative;
}

.imagem-container {
    height: 450px;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.imagem-container > img { /* Declarando .imagem como PAI e img como FILHO*/
    height: 100%;
    width: 100%;
    position: absolute;
}

.right-container {
    height: 450px;
    width: 50%;
    background-image: linear-gradient(to bottom right, blue, blueviolet);
    /*background-color: rgb(172, 172, 172);*/
    float: right; /* Definir o lado em que o elemento irá ficar */

    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-account {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}

.creative-text {
    color: white;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 25px;
}

.right-form {
    padding: 30px;
}

input {
    padding: 5px;
    border-radius: 20px;
    border: none;
}

label {
    padding: 0;
    margin: 0;
}

.form-container{
    z-index: 1;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
}

a, label, span {
    color: white;
    font-weight: none;
}

/* 
https://trello.com/c/BQZiHfGE/101-m2s2ex-8-montar-%C3%A1rea-de-formul%C3%A1rio
*/